article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 20px);
    background-color: #fff;
}

article-item h3 {
    font-size: 1.2em;
    color: #e74c3c;
}